<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Username</key>
	<string>Administrator</string>
	<key>Password</key>
	<string>Administrator</string>
	<key>Repository</key>
	<string>default</string>
	<key>URL</key>
	<string>http://demo.nuxeo.com/nuxeo</string>
	<key>ApiPrefix</key>
	<string>api/v1</string>
</dict>
</plist>
